
 <label class="item item-input">
    <input type="text" placeholder="Todo" ng-model="todo">
  </label>

<button class="button button-block button-positive" ng-click="add(todo)">
  Add todo
</button>

